[submodule "local_repo_pyton_3/ivy"]
	path = local_repo_python_3/ivy
	url = git@github.com:kenmcmil/ivy.git
	branch = 2to3
[submodule "local_repo/ivy"]
	path = local_repo/ivy
	url = git@github.com:kenmcmil/ivy.git
